html
    head
        title Twitter
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    body
    div.row
        div.col-md-6.col-md-offset-3
            h1.text-center People that don't follow you back
            ul.list-group
                each user in users
                div.bg-info
                a.list-group-item(href="https://twitter.com/" + user.screen_name)
                img(src=user.avatar)
                span=user.name
                span @
                span= user.screen_name                    